<h1> Emotion detail </h1>
    <a [routerLink]="['/emotion/user', emotion.userRef._id]"> Back to list </a>

<div *ngIf="emotion"> <!-- IMPORTANT ngIF para que no de error hasta que no se resuelva la promesa -->
  <div class="emotion-info">
    <h2> {{ emotion.maxEmotion.name }} : {{ emotion.maxEmotion.score }}</h2>
    <div class="img-container">
      <img src="{{ emotion.image_path }}" alt="{{ emotion.image_path }}">
    </div>
    <p>USER: {{emotion.userRef.username }} - {{ emotion.userRef.email }} (NOTA: Igual esto no hace falta porque siempre va estar logueado para poder ver tus emotions</p>
    <p>CREATED AT: {{emotion.created_at}}</p>

    JSON:
    <p>{{emotion | json }}</p>
  </div>
</div>
